.App {
  text-align: center;
}

li {
  list-style: none;
  color: green;
}

button {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1.5rem;
  background-color: green;
  margin-top: 2rem;
}

input {
  height: 3rem;
  max-width: 85%;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.card {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 1rem;
  width: 50%;
  padding: 1rem 2rem 3rem;
  margin: 3rem auto;
}